$margin-left: 30px;

.aside {
    width: $aside-width;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: $submain-background;

    &__header {
        position: relative;
        width: 100%;
        height: $header-height;
        border-bottom: 1px solid rgba(216, 216, 216, .1);

        &-container {
            width: 138px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            margin-left: $margin-left;

            .aside__header-subs {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 0 2px 0;

                .aside__header-year {
                    color: #fff;
                    font-size: 10px;
                }

                .aside__header-beeline {
                    display: flex;
                    align-items: center;

                    &-name {
                        color: #fff;
                        font-size: 10px;
                        margin-left: 5px;
                        text-transform: lowercase;
                    }

                    &-logo {
                        height: 7.5px;
                        width: 7.5px;
                    }
                }
            }

            .aside_header-pagename {
                font-size: 22px;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                margin: 0;
            }
        }
    }

    .mainmenu,
    .submenu {
        padding: 0;
        margin: 0;
        list-style-type: none;

        &__item,
        &__item {
            width: calc(100% - $margin-left);
            line-height: 40px;
            color: #fff;
            text-transform: uppercase;
            transition: all .5s;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;

            a {
                color: #fff;
            }
        }
    }

    .mainmenu {
        margin: 30px 0;
        max-height: 80%;

        &__item {
            padding-left: $margin-left - 3px;
            border-left: 3px solid transparent;

            label {
                cursor: pointer;
                display: flex;
                justify-content: space-between;
            }

            &-arrow {
                margin-right: $margin-left;
                transition: all .5s;
                transform: rotate(180deg);
                cursor: pointer;
            }

            .this,
            &:hover {
                background-color: #383a4a;
                border-left: 3px solid $accent-color-purple;
                color: #fff;

                &>ul.submenu>li.submenu__item {
                    background-color: $submain-background;
                    border-left: 3px solid transparent;
                    color: $subfont-color;
                }
            }
        }

        /* submenu collapsing styles */

        ul#submenu__programs,
        input#submenu__programs,
        ul#submenu__lections,
        input#submenu__lections {
            display: none;
        }

        input#submenu__programs:checked~ul#submenu__programs,
        input#submenu__lections:checked~ul#submenu__lections {
            display: block;
        }

        input#submenu__programs:checked~label .mainmenu__item-arrow,
        input#submenu__lections:checked~label .mainmenu__item-arrow {
            transform: rotate(0deg);
        }

        /* submenu collapsing styles end */
    }

    .submenu {
        &__item {
            margin-left: -$margin-left;
            padding-left: calc($margin-left * 2 - 3px);
            transition: all .5s;
            border-left: 3px solid transparent;


            a {
                display: flex;
                align-items: center;
                color: $subfont-color;

                .this,
                &:hover {
                    color: #fff;

                    &>object.submenu__item-icon {}
                }

                .submenu__item-icon {
                    width: 18px;
                    height: 20px;
                    margin-right: 25px;
                    display: inline-block;
                    background-position: center center;
                    background-size: 15px 18px;
                    background-size: cover;
                }
            }

            .this,
            &:hover {
                background-color: #383a4a !important;
                border-left: 3px solid $accent-color-purple !important;
                color: #fff !important;
            }
        }
    }

    .aside__newsletter {
        padding: $margin-left;
        width: calc(100% - $margin-left * 2);
        color: #fff;
        position: absolute;
        bottom: 0;

        &-form {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            label {
                color: $subfont-color;
            }
        }
    }
}