$margin-left: 30px;

aside.aside {
    width: $aside-width;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: $submain-background;

    div.aside__header {
        position: relative;
        width: 100%;
        height: $header-height;
        border-bottom: 1px solid rgba(216, 216, 216, .1);

        div.aside__header-container {
            width: 138px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            margin-left: $margin-left;

            div.aside__header-subs {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 0 2px 0;

                sub.aside__header-year {
                    color: #fff;
                    font-size: 10px;
                }

                div.aside__header-beeline {
                    display: flex;
                    align-items: center;

                    sub.aside__header-beeline-name {
                        color: #fff;
                        font-size: 10px;
                        margin-left: 5px;
                        text-transform: lowercase;
                    }

                    img.aside__header-beeline-logo {
                        height: 7.5px;
                        width: 7.5px;
                    }
                }
            }

            h1.aside_header-pagename {
                font-size: 22px;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                margin: 0;
            }
        }
    }

    ul.mainmenu,
    ul.submenu {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li.mainmenu__item,
        li.submenu__item {
            width: calc(100% - $margin-left);
            line-height: 40px;
            color: #fff;
            text-transform: uppercase;
            transition: all .5s;
            cursor: pointer;

            a {
                color: #fff;
            }
        }
    }

    ul.mainmenu {
        margin: 30px 0;
        max-height: 80%;

        li.mainmenu__item {
            padding-left: $margin-left;

            label {
                cursor: pointer;
            }
        }

        ul#submenu__programs,
        input#submenu__programs,
        ul#submenu__lections,
        input#submenu__lections {
            display: none;
        }

        input#submenu__programs:checked~ul#submenu__programs,
        input#submenu__lections:checked~ul#submenu__lections {
            display: block;
        }
    }

    ul.submenu {
        li.submenu__item {
            margin-left: -$margin-left;
            padding-left: calc($margin-left * 2 - 3px);
            transition: all .5s;
            border-left: 3px solid transparent;


            a {
                display: flex;
                align-items: center;
                color: #778090;

                .this,
                &:hover {
                    color: #fff;

                    &>object.submenu__item-icon {
                        fill: #6f6eff;
                    }
                }

                object.submenu__item-icon {
                    width: 18px;
                    height: 20px;
                    margin-right: 25px;
                    display: inline-block;
                    background-position: center center;
                    background-size: 15px 18px;
                    background-size: cover;
                }
            }

            .this,
            &:hover {
                background-color: #383a4a;
                border-left: 3px solid #6f6eff;
                color: #fff;
            }
        }
    }

    section.aside__newsletter {
        padding: $margin-left;
        width: calc(100% - $margin-left * 2);
        color: #fff;
        position: absolute;
        bottom: 0;

        form.aside__newsletter-form {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}