$margin-left: 30px;

aside.leftbar {
    width: $aside-width;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: $submain-background;
    
    .subheader {
        width: 100%;
        height: $header-height;
        border-bottom: 1px solid rgba(216,216,216,.1);
        
        h1.name {
            font-size: 22px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            line-height: $header-height;
            margin: 0 0 0 $margin-left;
        }
    }

    ul.mainmenu, ul.submenu {
        padding: 0 0 0 $margin-left;
        margin: 0;
        list-style-type: none;
        text-transform: uppercase;

        li {
            width:100%;
            height: 40px;
            line-height: 40px;
            color: #fff;
            transition: all .5s;

            a {
                color: #fff;
            }

            &:hover {
                background-color: #383a4a;
            }
        }
    }

    ul.mainmenu {
        margin: 30px 0;
        height: 80%;
    }
}