header.header {
    width: 100%;
    height: $header-height;
    top: 0;
    left: $aside-width;
    right: 0;
    position: fixed;
    border-bottom: 1px solid rgba(216, 216, 216, .1);

    &__container {
        margin: $margin-leftright;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
    }

    &__mainmenu {
        margin: 0;
        padding: 0;
        display: flex;

        &-item {
            list-style: none;
            color: rgba(225, 225, 225, .5);
            padding: 0 25px 0 0;
            transition: all .5s;

            &:hover {
                color: rgba(225, 225, 225, .8);
            }
        }

        .divider {
            width: 1px;
            height: 24px;
            background-color: #d8d8d8;
        }
    }
}