@mixin button {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    background-color: $accent-color-purple;
    border: 0;
    border-radius: 4px;
    color: #fff;
    transition: all .5s;

    &:hover {
        background-color: #6B69F9;
    }
}

.pagebody {
    z-index: 1;
    position: absolute;
    width: calc(100% - $aside-width - $margin-leftright * 2);
    top: $header-height;
    left: $aside-width;
    margin: 40px $margin-leftright;

    .course__level {
        margin: 0 0 60px 0;

        &-header {
            margin: 0 0 25px 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            &-subtitle {
                font-size: 11px;
                font-weight: 300;
                color: rgba(255, 255, 255, .4);
                text-transform: uppercase;
                margin: 0 0 7px 0;
            }

            &-title {
                font-size: 22px;
                font-weight: 400;
                color: #fff;
                text-transform: uppercase;
                margin: 7px 0 0 0;
            }

            &-navigation {
                display: flex;

                &-button {
                    @include button;
                    padding: 0 13px;
                    font-size: 12px;
                }

                &-paginator {
                    margin: 0 0 0 10px;
                    display: flex;
                    align-items: center;

                    &-item {
                        width: 30px;
                        height: 30px;
                        line-height: 24px;
                        box-sizing: border-box;
                        text-align: center;
                        background-color: transparent;
                        border: 1px solid rgba(255, 255, 255, .15);
                        border-radius: 4px;
                        cursor: pointer;

                        &:first-child {
                            margin: 0 5px 0 0;
                        }

                        &.left {
                            transform: rotate(270deg);
                        }

                        &.right {
                            transform: rotate(90deg);
                        }
                    }

                }
            }
        }

        &-body {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 10px;

            &-item {
                border-radius: 6px;
                background-color: $submain-background;
                cursor: pointer;

                &-background img {
                    height: 150px;
                    width: 100%;
                    border-radius: 6px 6px 0 0;
                }

                &-name {
                    padding: 15px;
                    height: 65px;
                    box-sizing: content-box;

                    &-title {
                        margin: 0;
                        color: #fff;
                        font-weight: 400;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &-subtitle {
                        margin: 5px 0 0 0;
                        color: rgba(255, 255, 255, .5);
                        font-weight: 300;
                        font-size: 14px;
                    }
                }

                &-actions {
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-date {
                        color: #fff;
                        font-size: 13px;
                    }

                    &-button {
                        @include button;
                        padding: 0 18px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}